<a href="https://colab.research.google.com/github/deokwoo-han/abc/blob/master/09_30_1_DNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import tensorflow as tf

In [ ]:
df = pd.read_csv('credit_cards_dataset.csv')

In [ ]:
X = df.drop(['default.payment.next.month'], axis=1).values

In [ ]:
Y = df['default.payment.next.month'].values

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

Standard Scale

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
X_train = sc.fit_transform(X_train)

In [ ]:
pd.DataFrame(X_train).describe().round(2)#평균값이 제로 분산값이 1, 함수영 언어, 데이터셋만 준비

             0         1         2   ...        21        22        23
count  21000.00  21000.00  21000.00  ...  21000.00  21000.00  21000.00
mean      -0.00     -0.00     -0.00  ...      0.00      0.00     -0.00
std        1.00      1.00      1.00  ...      1.00      1.00      1.00
min       -1.73     -1.22     -1.24  ...     -0.30     -0.31     -0.30
25%       -0.87     -0.91     -1.24  ...     -0.29     -0.29     -0.29
50%        0.01     -0.21      0.81  ...     -0.21     -0.21     -0.21
75%        0.86      0.56      0.81  ...     -0.06     -0.05     -0.07
max        1.73      6.44      0.81  ...     38.23     26.62     29.46

[8 rows x 24 columns]

In [ ]:
X_test = sc.fit_transform(X_test)

In [ ]:
#0과 1로 갈라줘야 함

In [ ]:
from tensorflow import keras#모델만 준비
from tensorflow.keras import layers

# Create a network with 1 linear unit #24 하나는 모델이 망가짐, 출력값을 더 큰 걸로...
model = keras.Sequential([
    layers.Dense(units=30, input_shape=[24], activation='relu'), #출력값만 바꿀 것 #레이어를 백개 하면 안좋게? 30 50 30 20 10
    layers.Dropout(rate=0.3),
    layers.BatchNormalization(),

    #layers.Dense(units=50, activation='relu'), #배치는 두번 만 넣어도 상관 없음
    #layers.Dropout(rate=0.3),
    #layers.BatchNormalization(),
    
    layers.Dense(units=30, activation='relu'),
    layers.Dropout(rate=0.3),
    layers.BatchNormalization(),

    layers.Dense(units=15, activation='relu'),
    layers.Dropout(rate=0.3),

    layers.Dense(units=5, activation='relu'),
    layers.Dropout(rate=0.3),

    layers.Dense(units=1, activation='sigmoid')#0과 1값으로 바꿔주는 함수, 액티베이션 함수를 그냥 쓴다, 두개2로 한다면은 또 바뀜
])#하나짜리 쉬운 것
#변수 바꾸기 안에 숫자, 레이어 늘리기 줄이기 덴스 개수

In [ ]:
#from tensorflow import keras#모델만 준비
#from tensorflow.keras import layers

# Create a network with 1 linear unit #24 하나는 모델이 망가짐, 출력값을 더 큰 걸로...
#model = keras.Sequential([
#    layers.Dense(units=30, input_shape=[24], activation='relu'), #출력값만 바꿀 것 #레이어를 백개 하면 안좋게? 30 50 30 20 10
#    layers.Dropout(rate=0.3),
#    layers.BatchNormalization(),
#    layers.Dense(units=50, activation='relu'), #배치는 두번 만 넣어도 상관 없음
#    layers.Dropout(rate=0.3),
#    layers.BatchNormalization(),
#    layers.Dense(units=30, activation='relu'),
#    layers.Dropout(rate=0.3),
#    layers.BatchNormalization(),
#    layers.Dense(units=15, activation='relu'),
#    layers.Dropout(rate=0.3),
#    layers.BatchNormalization(),
#    layers.Dense(units=5, activation='relu'),
#    layers.Dropout(rate=0.3),
#    layers.BatchNormalization(),
#    layers.Dense(units=1, activation='sigmoid')#0과 1값으로 바꿔주는 함수, 액티베이션 함수를 그냥 쓴다, 두개2로 한다면은 또 바뀜
#])#하나짜리 쉬운 것
#변수 바꾸기 안에 숫자, 레이어 늘리기 줄이기 덴스 개수

In [ ]:
#keras.Sequential([
    # ...
#    layers.Dropout(rate=0.3), # apply 30% dropout to the next layer
#    layers.Dense(16),
    # ...
#])

In [ ]:
#from tensorflow import keras#모델만 준비
#from tensorflow.keras import layers

# Create a network with 1 linear unit #24 하나는 모델이 망가짐, 출력값을 더 큰 걸로...
#model = keras.Sequential([
#    layers.Dense(units=50, input_shape=[24]), #출력값만 바꿀 것 #레이어를 백개 하면 안좋게?
#    layers.Dense(units=60),
#    layers.Dense(units=25),
#    layers.Dense(units=10),
#    layers.Dense(units=1, activation='sigmoid')#0과 1값으로 바꿔주는 함수, 액티베이션 함수를 그냥 쓴다, 두개2로 한다면은 또 바뀜
#])#하나짜리 쉬운 것

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 30)                750
_________________________________________________________________
dropout (Dropout)            (None, 30)                0
_________________________________________________________________
batch_normalization (BatchNo (None, 30)                120
_________________________________________________________________
dense_1 (Dense)              (None, 30)                930
_________________________________________________________________
dropout_1 (Dropout)          (None, 30)                0
_________________________________________________________________
batch_normalization_1 (Batch (None, 30)                120
_________________________________________________________________
dense_2 (Dense)              (None, 15)                465
_________________________________________________________________
dropout_2 (Dropout)          (None, 15)                0
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 80
_________________________________________________________________
dropout_3 (Dropout)          (None, 5)                 0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 6
=================================================================
Total params: 2,471
Trainable params: 2,351
Non-trainable params: 120
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam', loss=tf.keras.losses.BinaryCrossentropy(), metrics=[tf.keras.metrics.BinaryAccuracy()])
#어뎁티브 메트릭을 찾는 여러가지 방법
#로스는 일단 바이너리 크로스 엔트로피로 쓴다.

In [ ]:
#컴파일 옵션을 준다

In [ ]:
#미분의 절편을 찾을 방법은 무엇인가?

In [ ]:
model.fit(X_train, Y_train, epochs=30, shuffle=True, verbose='auto', batch_size=64)#epoch 60?
#학습 몇번이 세번재, 네번째는 포커 등에서 패섞고, 다섯번째는 과정보여주기#버킷사이즈가 64로 두배로 커짐 657이 얼마로? 329로 바뀔것
#또한 번 체크하고 로스 값 비교하고 등등

Epoch 1/30
329/329 [==============================] - 2s 3ms/step - loss: 0.6426 - binary_accuracy: 0.6844
Epoch 2/30
329/329 [==============================] - 1s 3ms/step - loss: 0.5269 - binary_accuracy: 0.7723
Epoch 3/30
329/329 [==============================] - 1s 3ms/step - loss: 0.5077 - binary_accuracy: 0.7831
Epoch 4/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4952 - binary_accuracy: 0.7888
Epoch 5/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4862 - binary_accuracy: 0.7924
Epoch 6/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4831 - binary_accuracy: 0.7956
Epoch 7/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4780 - binary_accuracy: 0.7978
Epoch 8/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4753 - binary_accuracy: 0.7998
Epoch 9/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4693 - binary_accuracy: 0.8013
Epoch 10/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4681 - binary_accuracy: 0.8024
Epoch 11/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4689 - binary_accuracy: 0.7978
Epoch 12/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4663 - binary_accuracy: 0.8025
Epoch 13/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4635 - binary_accuracy: 0.8035
Epoch 14/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4629 - binary_accuracy: 0.8013
Epoch 15/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4607 - binary_accuracy: 0.8030
Epoch 16/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4613 - binary_accuracy: 0.8010
Epoch 17/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4588 - binary_accuracy: 0.8017
Epoch 18/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4614 - binary_accuracy: 0.8006
Epoch 19/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4573 - binary_accuracy: 0.8030
Epoch 20/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4607 - binary_accuracy: 0.8031
Epoch 21/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4561 - binary_accuracy: 0.8040
Epoch 22/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4533 - binary_accuracy: 0.8055
Epoch 23/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4577 - binary_accuracy: 0.8041
Epoch 24/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4528 - binary_accuracy: 0.8041
Epoch 25/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4559 - binary_accuracy: 0.8047
Epoch 26/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4539 - binary_accuracy: 0.8021
Epoch 27/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4531 - binary_accuracy: 0.8060
Epoch 28/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4568 - binary_accuracy: 0.8035
Epoch 29/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4529 - binary_accuracy: 0.8051
Epoch 30/30
329/329 [==============================] - 1s 3ms/step - loss: 0.4518 - binary_accuracy: 0.8037

In [ ]:
y_predict = model.predict(X_test)

In [ ]:
y_predict[:30]

array([[0.182699  ],
       [0.09020588],
       [0.15923306],
       [0.10939404],
       [0.16546226],
       [0.16199574],
       [0.36333615],
       [0.24994463],
       [0.08576244],
       [0.15703472],
       [0.5757797 ],
       [0.08614674],
       [0.16744658],
       [0.841388  ],
       [0.14582899],
       [0.10966274],
       [0.13343501],
       [0.19486004],
       [0.18551049],
       [0.59982204],
       [0.16513678],
       [0.20022842],
       [0.17966288],
       [0.10114259],
       [0.19536808],
       [0.18842775],
       [0.13296267],
       [0.55869156],
       [0.17662403],
       [0.17936352]], dtype=float32)

In [ ]:
import numpy as np

In [ ]:
y_predict = np.rint(y_predict)

In [ ]:
y_predict[:30]

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.]], dtype=float32)

In [ ]:
from sklearn.metrics import recall_score

In [ ]:
recall_score(Y_test, y_predict)

0.225

In [ ]:
#표상 러닝은 주관적?
#0.21683673469387754
#0.1836734693877551
#0.24948979591836734
#0.2545918367346939

In [ ]:
#레이어 줄인 0.20408163265306123

In [ ]:
tf.__version__

'2.6.0'

In [ ]:
#늘린 0.1576530612244898

In [ ]:
#변수를 바꾼 0.2755102040816326

In [ ]:
#0.30306122448979594 같은 원본인데...
#0.24693877551020407

In [ ]:
#편차가 심한 걸 어덯게 해결하는가?
#웨이트의 값을 바꾸는 것

In [ ]:
#0.21581632653061225

In [ ]:
#0.3
#0.26326530612244897

In [ ]:
#0.21785714285714286
#0.1903061224489796
#0.06581632653061224

In [ ]:
#레이러 줄고 바꾼 버전 0.21479591836734693
#0.23265306122448978

In [ ]:
#액티베이션 추가 0.286734693877551
#0.27908163265306124
#0.27908163265306124
#0.32857142857142857

In [ ]:
#배치 노멀라이제이션 추가 0.3229591836734694

In [ ]:
#0.22857142857142856 0.23214285714285715

In [ ]:
#최종본 0.25816326530612244 0.26887755102040817