<a href="https://colab.research.google.com/github/deokwoo-han/abc/blob/master/10_06_project3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import sys
from itertools import combinations, groupby
from collections import Counter
from IPython.display import display
color = sns.color_palette()

%matplotlib inline
%config InlineBackend.figure_config = 'retina'

pd.options.mode.chained_assignment = None  # default='warn'

###1. 구글 드라이버 파일 가져오기(시행자 경로에 해당 파일이 있어야 함)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
! pwd cd

/content

###2. 파일 불러와서 데이터 프레임으로 만들기

In [4]:
file_path = './drive/MyDrive/datas'
order_products_train = pd.read_csv(file_path + "/order_products__train.csv")
order_products_prior = pd.read_csv(file_path + "/order_products__prior.csv")
orders = pd.read_csv(file_path + "/orders.csv")
products = pd.read_csv(file_path + "/products.csv")
aisles = pd.read_csv(file_path + "/aisles.csv")
departments = pd.read_csv(file_path + "/departments.csv")

###3. 데이터 프레임 통합

In [5]:
order_products_prior = pd.merge(order_products_prior, products, on='product_id', how='left')
order_products_prior = pd.merge(order_products_prior, aisles, on='aisle_id', how='left')
order_products_prior = pd.merge(order_products_prior, departments, on='department_id', how='left')
order_products_prior.head()

   order_id  product_id  ...               aisle  department
0         2       33120  ...                eggs  dairy eggs
1         2       28985  ...    fresh vegetables     produce
2         2        9327  ...   spices seasonings      pantry
3         2       45918  ...       oils vinegars      pantry
4         2       30035  ...  baking ingredients      pantry

[5 rows x 9 columns]

###4. order_id와 department(제품 부서, 제품군)만 데이터프레임화

In [6]:
df2 = pd.DataFrame(order_products_prior.groupby('order_id').department.agg(lambda x: x.tolist())).reset_index()
df2.head(10)

   order_id                                         department
0         2  [dairy eggs, produce, pantry, pantry, pantry, ...
1         3  [dairy eggs, dairy eggs, produce, produce, dai...
2         4  [bakery, personal care, snacks, breakfast, bre...
3         5  [produce, pantry, deli, produce, dairy eggs, h...
4         6                  [beverages, household, household]
5         7                                [beverages, frozen]
6         8                                           [bakery]
7         9  [produce, produce, produce, dairy eggs, snacks...
8        10  [produce, produce, produce, produce, produce, ...
9        11       [frozen, deli, canned goods, snacks, pantry]

In [7]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

###5. 각 주문별 제품군 구매 여부

In [8]:
te = TransactionEncoder() 
te_result = te.fit(df2.department).transform(df2.department)
df2_1 = pd.DataFrame( te_result, columns = te.columns_)
df2_1.head()

   alcohol  babies  bakery  beverages  ...  personal care   pets  produce  snacks
0    False   False   False      False  ...          False  False     True   False
1    False   False    True      False  ...          False  False     True   False
2    False   False    True       True  ...           True  False    False    True
3    False   False   False       True  ...           True  False     True    True
4    False   False   False       True  ...          False  False    False   False

[5 rows x 21 columns]

###6. 제품군 구매 사례별 지지도

In [9]:
itemset1 = apriori(df2_1, use_colnames=True, min_support=0.03)

In [10]:
itemset1

      support                                           itemsets
0    0.055278                                           (babies)
1    0.274212                                           (bakery)
2    0.453315                                        (beverages)
3    0.163362                                        (breakfast)
4    0.211923                                     (canned goods)
..        ...                                                ...
718  0.031293  (snacks, dry goods pasta, produce, beverages, ...
719  0.045762  (snacks, produce, beverages, frozen, dairy egg...
720  0.032411  (canned goods, snacks, produce, frozen, dairy ...
721  0.034251  (snacks, produce, frozen, dairy eggs, deli, pa...
722  0.030741  (snacks, dry goods pasta, produce, frozen, dai...

[723 rows x 2 columns]

### 7. 각 제품군 간의 연관 규칙 분석(conviction 순)

antecedents: 비교할 선행 제품군들

consequents: 비교할 후행 제품군들

antecedent support: 전체 주문 대비 선행 제품군들 구매비율(지지도)

consequent support: 전체 주문 대비 후행 제품군들 구매비율(지지도)

support: 두 제품군 동시 구매 비율(지지도)

confidence: 선행 제품군이 있을 때 후행 제품군도 있는 비율(조건부 확률, 신뢰도)

lift: 동시 구매 여부를 알기 위해 서로 간의 연관성을 파악하는 향상도(1보다 높을 경우 itemA, itemB 두 품목 간의 긍정적 관계, 낮을 경우 두 품목 간의 부정적 관계, 1일 경우 관계 없음)

leverage: 0에 가깝다면 각각 독립일 가능성이 높음. 양수면 향상도가 1보다 큰 경우와 유사, 음수면 향상도가 1보다 작은 경우와 유사

conviction: 독립 확률 지표. 1보다 크면 상호연관성 높음. 1보다 작으면 상호 연관성 낮음. 1이면 상호연관성 없음(독립)

In [11]:
df2_2 = association_rules(itemset1, metric="confidence", min_threshold=0.85 )
df2_2

                                           antecedents  ... conviction
0                                       (canned goods)  ...   2.072944
1                                               (deli)  ...   1.789726
2                                    (dry goods pasta)  ...   1.923585
3                                      (international)  ...   1.924583
4                                       (meat seafood)  ...   2.008996
..                                                 ...  ...        ...
561         (snacks, frozen, dairy eggs, deli, pantry)  ...   3.738261
562                     (deli, snacks, pantry, frozen)  ...   3.005287
563  (snacks, dry goods pasta, produce, frozen, pan...  ...   4.487121
564  (snacks, dry goods pasta, frozen, dairy eggs, ...  ...   3.458301
565          (snacks, dry goods pasta, pantry, frozen)  ...   3.036593

[566 rows x 9 columns]

In [15]:
rules_final = df2_2.sort_values('lift', ascending=False)
rules_final.head(20)

                                           antecedents  ... conviction
503                    (deli, dry goods pasta, pantry)  ...   3.233125
506                    (deli, snacks, dry goods pasta)  ...   3.125367
543                     (deli, snacks, bakery, frozen)  ...   3.077660
500                    (deli, dry goods pasta, frozen)  ...   3.049987
481                       (canned goods, deli, pantry)  ...   3.046170
565          (snacks, dry goods pasta, pantry, frozen)  ...   3.036593
562                     (deli, snacks, pantry, frozen)  ...   3.005287
367               (frozen, bakery, breakfast, produce)  ...   4.966314
369               (snacks, bakery, breakfast, produce)  ...   4.781444
541            (snacks, produce, frozen, deli, bakery)  ...   4.772400
342            (beverages, bakery, breakfast, produce)  ...   4.738725
469                 (deli, snacks, breakfast, produce)  ...   4.599621
533         (snacks, produce, beverages, deli, bakery)  ...   4.580059
563  (snacks, dry goods pasta, produce, frozen, pan...  ...   4.487121
389         (bakery, snacks, dry goods pasta, produce)  ...   4.479151
544          (snacks, produce, frozen, bakery, pantry)  ...   4.460844
385         (frozen, bakery, dry goods pasta, produce)  ...   4.406275
133                    (deli, bakery, dry goods pasta)  ...   4.362422
535       (produce, beverages, frozen, bakery, pantry)  ...   4.343470
387         (bakery, dry goods pasta, pantry, produce)  ...   4.321194

[20 rows x 9 columns]

### 8. 데이터프레임 CSV화

In [16]:
df2_2.to_csv('sample2.csv')

lift로 따져 봤을 때, dairy eggs 제품군에 속한 것을 다른 제품군과 같이 구매하는 경우가 많았다. 이를 볼 때, 해당 제품군을 기본으로 하여 타 제품군 동시 구매 전략을 짜는 것이 좋아보인다.