<a href="https://colab.research.google.com/github/deokwoo-han/abc/blob/master/10_19_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
new_result = pd.read_excel('x2.xlsx')

In [ ]:
new_result

             분기  경제성장률(실질GDP성장률)
0    1960년 01분기              NaN
1    1960년 02분기              NaN
2    1960년 03분기              NaN
3    1960년 04분기              NaN
4    1961년 01분기              6.3
..          ...              ...
241  2020년 02분기             -3.2
242  2020년 03분기              2.2
243  2020년 04분기              1.1
244  2021년 01분기              1.7
245  2021년 02분기              0.8

[246 rows x 2 columns]

In [ ]:
n1= new_result.set_index('분기')

In [ ]:
n1

            경제성장률(실질GDP성장률)
분기
1960년 01분기              NaN
1960년 02분기              NaN
1960년 03분기              NaN
1960년 04분기              NaN
1961년 01분기              6.3
...                     ...
2020년 02분기             -3.2
2020년 03분기              2.2
2020년 04분기              1.1
2021년 01분기              1.7
2021년 02분기              0.8

[246 rows x 1 columns]

In [ ]:
new_result.dtypes

분기                  object
경제성장률(실질GDP성장률)    float64
dtype: object

In [ ]:
n1.fillna(0, inplace=True)
n1

            경제성장률(실질GDP성장률)
분기
1960년 01분기              0.0
1960년 02분기              0.0
1960년 03분기              0.0
1960년 04분기              0.0
1961년 01분기              6.3
...                     ...
2020년 02분기             -3.2
2020년 03분기              2.2
2020년 04분기              1.1
2021년 01분기              1.7
2021년 02분기              0.8

[246 rows x 1 columns]

In [ ]:
n1.to_excel('경제성장률(문자).xlsx')