<a href="https://colab.research.google.com/github/deokwoo-han/abc/blob/master/10_20_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
new_result = pd.read_excel('GDP.xlsx')

In [ ]:
new_result

           분기 국내총생산(명목GDP, 단위 십억)
0    1960.1/4                49.1
1    1960.2/4                68.0
2    1960.3/4                61.0
3    1960.4/4                71.8
4    1961.1/4                62.0
..        ...                 ...
241  2020.2/4           472,328.1
242  2020.3/4           491,181.5
243  2020.4/4           492,100.1
244  2021.1/4           501,248.1
245  2021.2/4           511,233.1

[246 rows x 2 columns]

In [ ]:
n1= new_result.set_index('분기')

In [ ]:
n1

         국내총생산(명목GDP, 단위 십억)
분기
1960.1/4                49.1
1960.2/4                68.0
1960.3/4                61.0
1960.4/4                71.8
1961.1/4                62.0
...                      ...
2020.2/4           472,328.1
2020.3/4           491,181.5
2020.4/4           492,100.1
2021.1/4           501,248.1
2021.2/4           511,233.1

[246 rows x 1 columns]

In [ ]:
new_result.dtypes

분기                     object
국내총생산(명목GDP, 단위 십억)    object
dtype: object

In [ ]:
n1.dtypes

국내총생산(명목GDP, 단위 십억)    object
dtype: object

In [ ]:
# str형 숫자를 float식으로 변경하는 코드
for i in np.arange(0,1):
    n1.iloc[:,i] = n1.iloc[:,i].str.replace(',','').astype(float)

# 결측치 0 대입
n1.fillna(0, inplace=True)
n1

          국내총생산(명목GDP, 단위 십억)
분기
1960.1/4                 49.1
1960.2/4                 68.0
1960.3/4                 61.0
1960.4/4                 71.8
1961.1/4                 62.0
...                       ...
2020.2/4             472328.1
2020.3/4             491181.5
2020.4/4             492100.1
2021.1/4             501248.1
2021.2/4             511233.1

[246 rows x 1 columns]

In [ ]:
new_result.dtypes

분기                     object
국내총생산(명목GDP, 단위 십억)    object
dtype: object

In [ ]:
#n1.fillna(0, inplace=True)
#n1

In [ ]:
n1.to_excel('명목GDP.xlsx')