<a href="https://colab.research.google.com/github/deokwoo-han/abc/blob/master/project4_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import sys
from itertools import combinations, groupby
from collections import Counter
from IPython.display import display
color = sns.color_palette()

%matplotlib inline
%config InlineBackend.figure_config = 'retina'

pd.options.mode.chained_assignment = None  # default='warn'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
! pwd cd

/content

In [ ]:
file_path = './drive/MyDrive/datas'
order_products_train = pd.read_csv(file_path + "/order_products__train.csv")
order_products_prior = pd.read_csv(file_path + "/order_products__prior.csv")
orders = pd.read_csv(file_path + "/orders.csv")
products = pd.read_csv(file_path + "/products.csv")
aisles = pd.read_csv(file_path + "/aisles.csv")
departments = pd.read_csv(file_path + "/departments.csv")

In [ ]:
order_products_prior = pd.merge(order_products_prior, products, on='product_id', how='left')
order_products_prior = pd.merge(order_products_prior, aisles, on='aisle_id', how='left')
order_products_prior = pd.merge(order_products_prior, departments, on='department_id', how='left')
order_products_prior.head()

   order_id  product_id  ...               aisle  department
0         2       33120  ...                eggs  dairy eggs
1         2       28985  ...    fresh vegetables     produce
2         2        9327  ...   spices seasonings      pantry
3         2       45918  ...       oils vinegars      pantry
4         2       30035  ...  baking ingredients      pantry

[5 rows x 9 columns]

In [ ]:
df3 = pd.DataFrame(order_products_prior.groupby('order_id').product_name.agg(lambda x: x.tolist())).reset_index()
df3.head(10)

   order_id                                       product_name
0         2  [Organic Egg Whites, Michigan Organic Kale, Ga...
1         3  [Total 2% with Strawberry Lowfat Greek Straine...
2         4  [Plain Pre-Sliced Bagels, Honey/Lemon Cough Dr...
3         5  [Bag of Organic Bananas, Just Crisp, Parmesan,...
4         6  [Cleanse, Dryer Sheets Geranium Scent, Clean D...
5         7                   [Orange Juice, Pineapple Chunks]
6         8                    [Original Hawaiian Sweet Rolls]
7         9  [Organic Red Radish, Bunch, Whole White Mushro...
8        10  [Banana, Baby Portabella Mushrooms, Organic Ci...
9        11  [Teriyaki & Pineapple Chicken Meatballs, Mango...

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
te = TransactionEncoder() 
te_result = te.fit(df3.product_name).transform(df3.product_name)
df3_1 = pd.DataFrame( te_result, columns = te.columns_)
df3_1.head()

In [ ]:
itemset2 = apriori(df3_1, use_colnames=True, min_support=0.03)

In [ ]:
df3_2 = association_rules(itemset2, metric="confidence", min_threshold=0.85 )
df3_2

In [ ]:
#frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)