<a href="https://colab.research.google.com/github/deokwoo-han/abc/blob/master/project3_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import sys
from itertools import combinations, groupby
from collections import Counter
from IPython.display import display
color = sns.color_palette()

%matplotlib inline
%config InlineBackend.figure_config = 'retina'

pd.options.mode.chained_assignment = None  # default='warn'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
! pwd cd

/content

In [ ]:
file_path = './drive/MyDrive/datas'
order_products_train = pd.read_csv(file_path + "/order_products__train.csv")
order_products_prior = pd.read_csv(file_path + "/order_products__prior.csv")
orders = pd.read_csv(file_path + "/orders.csv")
products = pd.read_csv(file_path + "/products.csv")
aisles = pd.read_csv(file_path + "/aisles.csv")
departments = pd.read_csv(file_path + "/departments.csv")

In [ ]:
order_products_prior = pd.merge(order_products_prior, products, on='product_id', how='left')
order_products_prior = pd.merge(order_products_prior, aisles, on='aisle_id', how='left')
order_products_prior = pd.merge(order_products_prior, departments, on='department_id', how='left')
order_products_prior.head()

   order_id  product_id  ...               aisle  department
0         2       33120  ...                eggs  dairy eggs
1         2       28985  ...    fresh vegetables     produce
2         2        9327  ...   spices seasonings      pantry
3         2       45918  ...       oils vinegars      pantry
4         2       30035  ...  baking ingredients      pantry

[5 rows x 9 columns]

In [ ]:
df2 = pd.DataFrame(order_products_prior.groupby('order_id').department.agg(lambda x: x.tolist())).reset_index()
df2.head(10)

   order_id                                         department
0         2  [dairy eggs, produce, pantry, pantry, pantry, ...
1         3  [dairy eggs, dairy eggs, produce, produce, dai...
2         4  [bakery, personal care, snacks, breakfast, bre...
3         5  [produce, pantry, deli, produce, dairy eggs, h...
4         6                  [beverages, household, household]
5         7                                [beverages, frozen]
6         8                                           [bakery]
7         9  [produce, produce, produce, dairy eggs, snacks...
8        10  [produce, produce, produce, produce, produce, ...
9        11       [frozen, deli, canned goods, snacks, pantry]

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
te = TransactionEncoder() 
te_result = te.fit(df2.department).transform(df2.department)
df2_1 = pd.DataFrame( te_result, columns = te.columns_)
df2_1.head()

   alcohol  babies  bakery  beverages  ...  personal care   pets  produce  snacks
0    False   False   False      False  ...          False  False     True   False
1    False   False    True      False  ...          False  False     True   False
2    False   False    True       True  ...           True  False    False    True
3    False   False   False       True  ...           True  False     True    True
4    False   False   False       True  ...          False  False    False   False

[5 rows x 21 columns]

In [ ]:
itemset1 = apriori(df2_1, use_colnames=True, min_support=0.03)

In [ ]:
itemset1

      support                                           itemsets
0    0.055278                                           (babies)
1    0.274212                                           (bakery)
2    0.453315                                        (beverages)
3    0.163362                                        (breakfast)
4    0.211923                                     (canned goods)
..        ...                                                ...
718  0.031293  (produce, dry goods pasta, snacks, dairy eggs,...
719  0.045762  (produce, pantry, snacks, dairy eggs, frozen, ...
720  0.032411  (produce, pantry, snacks, dairy eggs, frozen, ...
721  0.034251  (produce, pantry, snacks, dairy eggs, frozen, ...
722  0.030741  (produce, dry goods pasta, pantry, dairy eggs,...

[723 rows x 2 columns]

In [ ]:
df2_2 = association_rules(itemset1, metric="confidence", min_threshold=0.85 )
df2_2

                                           antecedents  ... conviction
0                                       (canned goods)  ...   2.072944
1                                               (deli)  ...   1.789726
2                                    (dry goods pasta)  ...   1.923585
3                                      (international)  ...   1.924583
4                                       (meat seafood)  ...   2.008996
..                                                 ...  ...        ...
561         (pantry, snacks, dairy eggs, frozen, deli)  ...   3.738261
562                     (pantry, snacks, deli, frozen)  ...   3.005287
563  (produce, dry goods pasta, pantry, snacks, fro...  ...   4.487121
564  (dry goods pasta, snacks, dairy eggs, pantry, ...  ...   3.458301
565          (dry goods pasta, snacks, pantry, frozen)  ...   3.036593

[566 rows x 9 columns]